@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-bottom: 0;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

html {
  scroll-behavior: smooth;
}

.swiper-pagination-bullet {
  @apply shadow-lg;
}

.swiper-button-next {
  @apply bg-black rounded-full flex justify-center items-center h-8 w-8 p-3 pr-4 bg-opacity-30  hover:bg-opacity-80 text-white translate-x-12 md:group-hover:-translate-x-8 group-hover:-translate-x-2 transition-transform duration-sm;

  svg {
    @apply text-white;
  }
}

.swiper-button-prev {
  @apply bg-black rounded-full flex justify-center items-center h-8 w-8 p-3 pl-3 bg-opacity-30  hover:bg-opacity-60 text-white -translate-x-12 md:group-hover:translate-x-8 group-hover:translate-x-2  transition-transform duration-sm;

  svg {
    @apply text-white;
  }
}

/* BLOG SWIPER NAVIGATION */
.swiper-btn-wraper {
  @apply flex flex-row w-[100%] justify-between items-center absolute top-[50%] left-0 right-0;
}

.swiper-btn {
  @apply transition-all duration-sm 
   cursor-pointer  bg-ash bg-opacity-80 shadow-lg;
}

.swiper-btn.btn-next {
  @apply rounded-full flex justify-center items-center h-8 w-8 p-3  text-white;

  svg {
    @apply text-white;
  }
}

.swiper-btn.btn-prev {
  @apply rounded-full flex justify-center items-center h-8 w-8 p-3 pl-3 text-white;

  svg {
    @apply text-white;
  }
}

.slide-overlay {
  @apply relative;
}

.slide-overlay:before {
  @apply absolute top-0 right-0 w-full h-full bg-black bg-opacity-40;
  content: "";
}

/* Swiper Link positions */
.hero-swiper-content {
  @apply absolute top-[70%] -translate-y-[50%] w-full md:w-96 mx-auto md:mx-0;
}
.position-left {
  @apply md:left-6;
}
.position-right {
  @apply md:right-6;
}

.small-header {
  @apply font-thin tracking-widest uppercase;
}

.small-header-lowercase {
  @apply font-thin tracking-widest;
}

/* Recruitment Form */
/* #recruitmentForm input::placeholder {
  @apply focus:bg-red-500 focus:text-white p-2 w-fit  
  focus:absolute focus:-top-4 focus:left-0
  focus:z-40 -translate-y-6;
} */

/* #recruitmentForm input::placeholder {
  @apply focus:bg-black ;
} */
