@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-bottom: 2px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

/* UTILITY CLASSES */
.transition-slow {
  @apply transition-all duration-500;
}

/* Hamburger Menu */
.hamburger {
  @apply relative w-[24px]  h-[24px];
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  @apply absolute top-[4px] left-0 right-0 w-[24px] h-[3px] rounded-sm;
}

.hamburger-middle {
  @apply top-[12px];
}

.hamburger-bottom {
  @apply top-[20px];
}

.open .hamburger-top {
  @apply rotate-[45deg] translate-y-[8px];
}
.open .hamburger-bottom {
  @apply -rotate-[45deg] -translate-y-[8px];
}
.open .hamburger-middle {
  @apply opacity-0;
}

html {
  scroll-behavior: smooth;
}

#hero .swiper-pagination {
  text-align: left;
}

#hero .swiper-pagination-bullet {
  background-color: #fff;
}

/* .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
} */

.swiper-pagination-bullet {
  @apply shadow-lg;
}

.swiper-button-next {
  @apply bg-black rounded-full flex justify-center items-center h-8 w-8 p-3 pr-4 bg-opacity-30  hover:bg-opacity-80 text-white translate-x-12 md:group-hover:-translate-x-8 group-hover:-translate-x-2 transition-transform duration-sm;

  svg {
    @apply text-white;
  }
}

.swiper-button-prev {
  @apply bg-black rounded-full flex justify-center items-center h-8 w-8 p-3 pl-3 bg-opacity-30  hover:bg-opacity-60 text-white -translate-x-12 md:group-hover:translate-x-8 group-hover:translate-x-2  transition-transform duration-sm;

  svg {
    @apply text-white;
  }
}

/* BLOG SWIPER NAVIGATION */
.swiper-btn-wraper {
  @apply flex flex-row w-[100%] justify-between items-center absolute top-[50%] left-0 right-0;
}

.swiper-btn {
  @apply transition-all duration-sm 
   cursor-pointer  bg-ash bg-opacity-80 shadow-lg;
}

.swiper-btn.btn-next {
  @apply rounded-full flex justify-center items-center h-8 w-8 p-3  text-white;

  svg {
    @apply text-white;
  }
}

.swiper-btn.btn-prev {
  @apply rounded-full flex justify-center items-center h-8 w-8 p-3 pl-3 text-white;

  svg {
    @apply text-white;
  }
}

.slide-overlay {
  @apply relative;
}

.slide-overlay:before {
  @apply absolute top-0 right-0 w-full h-full bg-black bg-opacity-40;
  content: "";
}

.slide-overlay-darker {
  @apply slide-overlay;
}

.slide-overlay-darker {
  @apply bg-opacity-70;
}

/* Swiper Link positions */
.hero-swiper-content {
  @apply absolute top-[70%] -translate-y-[50%] w-full md:w-96 mx-auto md:mx-0;
}
.position-left {
  @apply md:left-6;
}
.position-right {
  @apply md:right-6;
}

.small-header {
  @apply font-light tracking-widest uppercase;
}

.big-header {
  @apply my-10 text-3xl;
}

.small-header-lowercase {
  @apply font-thin tracking-widest;
}
